
# Created by https://www.gitignore.io/api/visualstudiocode,typings


### VisualStudioCode ###
.vscode/*


### Typings ###
## Ignore downloaded typings
typings


### Node Modules ###
node_modules/*
data/*

npm-debug.log
api-key.json
out/*
!out/.gitkeep


