
# Created by https://www.gitignore.io/api/visualstudiocode,typings


### VisualStudioCode ###
.vscode/*
jsconfig.json

### Typings ###
## Ignore downloaded typings
typings
typings.json

.gitignore
.git/*

### Node Modules ###
node_modules/*
data/*

api-key.json
